# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
celerybeat-schedule

# Environment
.env
.env.*

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

